<section>
<a href="http://www.amazon.com/gp/product/1449334997/ref=as_li_qf_sp_asin_il?ie=UTF8&camp=1789&creative=9325&creativeASIN=1449334997&linkCode=as2&tag=wwwjessecrave-20"><img src="/images/book.jpeg" /></a><img src="http://www.assoc-amazon.com/e/ir?t=wwwjessecrave-20&l=as2&o=1&a=1449334997" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

  <h1>O'Reilly Media's HTML5 Hacks</h1>
  <p>HTML5 Hacks shows you how to use the latest tools to make your sites and applications more interactive, more functional, and more capable of competing with desktop applications. Each hack shows you how to make a concrete improvement, applying the latest in JavaScript, HTML, and CSS power to common web development issues.</p>
</section>
