<section>

<!-- Begin MailChimp Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">

<div id="mc_embed_signup">
<form action="http://jessecravens.us2.list-manage1.com/subscribe/post?u=e00a501b9d5ba6aa43acd55a7&amp;id=95bec8136d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">Subscribe to our mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>
<!--End mc_embed_signup -->

<a href="http://www.anrdoezrs.net/click-7080585-11260198?url=http%3A%2F%2Fshop.oreilly.com%2Fproduct%2F0636920026273.do%3Fcmp%3Daf-code-book-product_cj_9781449334994_%25zp&cjsku=0636920026273" target="_top">
  <img src="http://akamaicovers.oreilly.com/images/0636920026273/cat.gif" border="0" alt="HTML5 Hacks"/>
</a>

<h2>O'Reilly Media's HTML5 Hacks</h2>

<p>HTML5 Hacks shows you how to use the latest tools to make your sites and applications more interactive, more functional, and more capable of competing with desktop applications. Each hack shows you how to make a concrete improvement, applying the latest in JavaScript, HTML, and CSS power to common web development issues.</p>

<a href="http://www.oreilly.com.cn/index.php?func=book&isbn=978-7-121-21702-9">
  <img src="../../images/html5-china-180.png" border="0" alt="HTML5 Hacks Chinese Translation"/>
</a>

<a href="http://www.oreilly.co.jp/books/9784873116471/">
  <img src="../../images/html5-japan-180.png" border="0" alt="HTML5 Hacks Japanese Translation"/>
</a>

<a href="http://shop.oreilly.com/product/0636920030782.do">
  <img src="../../images/ember-180.png" border="0" alt="Building Web Apps with Ember.js"/>
</a>

</section>
