// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

article img {
	float: right;
	margin: 10px;
	width: 200px;
}

ul li {
	margin-left: 30px;
}